.form-group {
    @apply flex flex-col;
}

.form-control {
    @apply py-2 px-3 border-2 w-full outline-none;
}

.form-control:focus {
    @apply border-blue-600
}

.form-label {
    @apply py-2 font-medium;
}

.btn {
    @apply py-2 px-3 w-full;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700
}